@font-face {
    font-family: 'Montserrat';
    src: url(../font/Montserrat-VariableFont_wght.ttf);
}
*{
    font-family: 'Montserrat'; 
}
body,html{
    margin: 0;
    padding: 0;
    background-color: #aaaeec;
}
.best{
    width: 100%;
    display: flex;
    justify-content: center;
}
.best_cont{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.best_cont a img{
    width: 120px;
    height: fit-content;
}
.best_blokc{
    display: flex;
}
.best_blokc a{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 14px;
    font-weight: 500;
    color: #080D6F;
}
.utf{
     display: block;
     width: 120px;
}
.online{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.online h1{
    width: 70%;
    font-size: 60px;
    font-weight: 700;
    color: #080D6F;
    font-style: italic;
    line-height: 70px;
    text-align: center;
    margin-bottom: 20px;
}
.online span{
    font-size: 64px;
    font-weight: 700;
    color: #080D6F;
    font-style: italic;
    line-height: 70px;
    text-align: center;
}
.online p{
    width: 60%;
    font-size: 24px;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    margin-top: 0;
}
.new_1{
    display: flex;
    width: 100%;
    justify-content: left;
}
.new_2{
    display: flex;
    width: 100%;
    justify-content: right;
}
.online h4{
    width: 720px;
    height: 80px;
    background: #CED0FF;
    border: 3px solid #080D6F;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    color: #080D6F;
    padding-right: 15px;
    margin-top: 0;
    margin-bottom: 20px;
    border-left: none;
}
.online h5{
    width: 720px;
    height: 80px;
    background: #CED0FF;
    border: 3px solid #080D6F;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    color: #080D6F;
    padding-left: 15px;
    margin-top: 0;
    border-right: none;
}
.get{
    width: 100%;
    display: flex;
    justify-content: center;
}
.get_blokc{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.get_cont{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.legiano_top{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-image: url(../img/bagraund.png);
    border-radius: 20px;
    height: 190px;
    background-size: cover;
    border-bottom-right-radius: 0;
    background-position-y: bottom;
}
.legiano{
    width: 400px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #c1a3be;
    border: 3px solid #080D6F;
    border-radius: 20px;
}
.legiano_1{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 20px;
    padding-right: 0;
}
.legiano_1 img{
    margin-top: 40px;
    width: 140px;
    height: fit-content;
    margin-left: -188px;
}
.legiano .best_img{
    position: absolute;
    margin-left: 0;
    left: -40px;
    margin-top: 0;
}
.legiano_1 .foto{
    width: 180px;
    height: fit-content;
    margin-left: 0;
}
.legiano_2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 20px;
    padding-left: 0;
}
.legiano_2 h1{
    font-size: 42px;
    font-weight: 700;
    color: #080D6F;
    margin-bottom: 0;
    margin-top: 0;
}
.legiano_2 h2{
    font-size: 14px;
    font-weight: 400;
    color: #080D6F;
    margin-top: 0;
    font-style: italic;
    margin-bottom: 0;
}
.legiano_2 img{
    width: 140px;
    height: fit-content;
    margin-top: 0;
}
.get_bonus{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.get_bonus h3{
    font-size: 28px;
    font-weight: 700;
    color: #F0EBF1;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 15px;
}
.get_bonus h4{
    font-size: 22px;
    font-weight: 500;
    color: #F0EBF1;
    font-style: italic;
    margin-top: 0;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.get_bonus a{
    width: 260px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FF9F33;
    border: 2px solid #080D6F;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    color: #080D6F;
    text-decoration: none;
    margin-bottom: 20px;
}
.malino .get_bonus h3{
    font-size: 25px;
    line-height: 30px;
    font-weight: 700;
    color: #F0EBF1;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0;
}
.malino .get_bonus h4{
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    color: #F0EBF1;
    font-style: italic;
    margin-top: 0;
    text-transform: uppercase;
}
.malino .get_bonus a{
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FF9F33;
    border: 2px solid #080D6F;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    color: #080D6F;
    text-decoration: none;
    margin-bottom: 20px;
}
.get_bonus a:hover{
    cursor: pointer;
    box-shadow: 0px 0px 50px 0px #FF9F33;

}
.get_bonus img{
    width: 260px;
    height: fit-content;
    margin-bottom: 40px;
}
.legiano:hover{
    box-shadow: 0px 0px 50px 0px #585858;
}
.malino{
    width: 100%;
    display: flex;
    justify-content: center;
}
.malino_blokc{
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.malino_blokc .legiano{
    width: 350px;
}
.malino_blokc .legiano_1 img{
    height: 75px;
    width: auto;
    margin-left: 0;
    margin-top: 20px;
}
.malino_blokc .legiano_top{
    border-radius: 20px;
    border-bottom-right-radius: 0;
    background-position-y: bottom;
    height: 180px;
}
.malino_blokc .get_bonus h3{
    margin-bottom: 30px;
}
.malino_blokc .get_bonus h4{
    margin-bottom: 10px;
}
.malino_blokc .get_bonus a{
    width: 250px;
}
.online .onl{
    display: none;
}
.casinos{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.safe h1{
    width: 1064px;
    height: 80px;
    background: #CED0FF;
    border: 3px solid #080D6F;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    font-size: 30px;
    font-weight: 500;
    color: #080D6F;
    font-style: italic;
    padding-right: 15px;
    display: flex;
    justify-content: right;
    align-items: center;
    border-left: none;
}
.casinos p{
    width: 80%;
    font-size: 24px;
    font-weight: 400;
    color: #080D6F;
    text-align: left;
    line-height: 30px;
}
.safe{
    width: 100%;
    display: flex;
    justify-content: left;
}
.players{
    width: 100%;
    display: flex;
    justify-content: right;
}
.players h2{
    width: 1064px;
    height: 80px;
    background: #CED0FF;
    border: 3px solid #080D6F;
    border-radius: 20px;
    font-size: 30px;
    font-weight: 500;
    color: #080D6F;
    font-style: italic;
    padding-left: 15px;
    display: flex;
    justify-content: left;
    align-items: center;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.safe h3{
    width: 1064px;
    height: 80px;
    background: #CED0FF;
    border: 3px solid #080D6F;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    font-size: 30px;
    font-weight: 500;
    color: #080D6F;
    font-style: italic;
    padding-right: 15px;
    display: flex;
    justify-content: right;
    align-items: center;
    border-left: none;
}
.casinos .center_p{
    text-align: center;
}
.casinos .right_p{
    text-align: right;
}
footer{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #BCA4BF;
}
.gam{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.gam_stop{
    display: flex;
    flex-direction: row;
}
.gam_stop img{
    width: fit-content;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.end_1{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}
.end_1 a{
    font-size: 14px;
    font-weight: 400;
    color: #080D6F;
    margin-left: 15px;
    margin-right: 15px;
}
.end_2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.end_2 h4{
    font-size: 14px;
    font-weight: 700;
    color: #080D6F;
    margin-right: 20px;
}
.end_2 img{
    width: 10px;
    height: fit-content;
}
.end_2 h5{
    font-size: 12px;
    font-weight: 400;
    color: #0085FF;
    margin-left: 10px;
}
.gam p{
    font-size: 14px;
    font-weight: 500;
    color: #000000;
    margin-top: 30px;
    margin-bottom: 40px;
}





.privacy{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.mini_privacy{
    display: flex;
    width: 90%;
    flex-direction: column;
}
.mini_privacy p{
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Montserrat';
    color: #FFFFFF;
}
.mini_privacy h1{
    font-family: 'Montserrat';
    color: #FFFFFF;
}
.mini_privacy h2{
    font-family: 'Montserrat';
    font-size: 26px;
    color: #FFFFFF;
}
.mini_privacy h1{
    font-size: 40px;
    margin-bottom: 20px;
    font-family: 'Montserrat';
    color: #FFFFFF;
}
.mini_privacy ul li{
    font-size: 18px;
    font-family: 'Montserrat';
    color: #FFFFFF;
    line-height: 150%;
}






.legiano:hover{
    cursor: pointer;


}
.pop_up{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 50;
    background-color: #000000b6;
    left: 0;
    top: 0;

}
.pop_up .legiano{
    background-color: #c1a3be;
}
.pop_up .legiano_top{
    background-color: #c1a3be;
    margin-bottom: 25px;
}
#link5{
    position: relative;
}
.legiano .close{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: auto;
    cursor: pointer;
}
#link5:hover{
    cursor: auto;
}

@media screen and (max-width: 900px){
  
    .online h5{
        width: 90%;
        font-size: 20px;
        height: 50px;
    }
    .online h4{
        width: 330px;
        font-size: 20px;
        height: 50px;
    }
    .best_blokc a{
        display: none;
    }
    .best_cont{
        flex-direction: column;
        margin-top: 30px;
    }
    body{
        background-color: #b7bbfe;
    }
    .online h1{
        display: none;
    }
    .online .onl{
        display: block;
        width: 95%;
        line-height: 60px;
        font-size: 42px;
    }
    .online .onl span{
        line-height: 60px;
        font-size: 50px;
    }
   
    .online span{
        font-size: 42px;
        line-height: 50px;
    }
    .online p{
        width: 90%;
        font-size: 20px;
    }
   
    .online b{
        line-height: 40px;
        font-size: 31px;
        color: #FF8C0A;
    }
    .legiano{
        width: 100%;
    }
    .malino_blokc{
        flex-direction: column;
        align-items: center;
    }
    .malino_blokc .legiano{
        width: 90%;
        margin-bottom: 20px;
    }
    .casinos p{
        width: 90%;
        text-align: center;
        font-size: 20px;
    }
    .casinos .right_p{
        text-align: center;
    }
    .safe h1{
        width: 85%;
        font-size: 24px;
        text-align: right;
        line-height: 40px;
        font-weight: 700;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    .players h2{
        width: 85%;
        font-size: 24px;
        text-align: right;
        line-height: 40px;
        font-weight: 700;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-left: 0;
        padding-right: 15px;
        padding-left: 0;
        border-right: 3px solid #080D6F;
    }
    .players{
        justify-content: left;
    }
    .legiano_1 .foto{
        width: 130px;
    }
    .malino_blokc .legiano_1 img{
        height: 70px;
    }
    .gam_stop{
        flex-wrap: wrap;
        justify-content: center;
    }
    .gam_stop img{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .legiano_1 img{
        margin-left: -60px;
    }
    .gam p{
        text-align: center;
        color: #FFFFFF;
    }
    .safe h3{
        width: 85%;
        font-size: 24px;
        line-height: 40px;
        font-weight: 700;
        border-top-right-radius: 40px;
        border-bottom-right-radius: 40px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .malino_blokc .get_bonus h4{
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 430px){
    .legiano_2 h1{
        font-size: 40px;
    }
    .legiano_2 h2{
        font-size: 14px;
    }
    .legiano_2 img{
        width: 130px;
    }
    .get_bonus h3{
        font-size: 26px;
    }
    .get_bonus h4{
        font-size: 20px;
    }
    .get_bonus a{
        width: 250px;
    }
    .malino_blokc .legiano{
        margin-top: 20px;
        width: 100%;
    }
}